/*  your css code here. If applicable */
p {
	border-style: solid
}

#yellow {
	background:yellow;
	border-width: 1px;
	border-color: green;
}

#red {
	background:red;
	border-width: 1px;
	border-color: black;
}

#green {
	background:green;
	border-width: 1px;
	border-color: yellow;
}